#projectsContainer {
    width: 100%;
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

#projectsTitle {
    margin-top: 2%;
}
